# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment files
.env

# Flask instance folder
instance/

# VS Code and system files
.vscode/
.DS_Store
*.log
.env





*.pyc
*.pyo
*.pyd
myenv/
*.sqlite3
*.db
*.log
*.DS_Store
.env.*
